@font-face {
  font-family: Nunito-Light;
  src: url("./fonts/Nunito-Light.ttf") format("truetype");
}
body {
  font-family: Nunito-Light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 300px;
  margin: 0;
  background-color: #ffffff;
}
header {
  width: 100%;
  border-bottom: 1.5px solid #e6e6e7;
  padding: 10px;
}
.header-logo {
  display: inline;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.header-title {
  display: inline;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 5px;
}
.header-github {
  float: right;
  margin: 5px 25px;
}
.main {
  padding: 0 15px;
}
.signup {
  display: none;
  text-align: center;
}
.signup p {
  text-align: left;
}
.button-active {
  width: 100%;
  height: 30px;
  background-color: #0063e5;
  color: #ffffff;
  font-family: inherit;
  border-radius: 2px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}
#button-start {
  background-color: #01b2a0;
}
.configuration {
  border-top: 1.5px solid #e6e6e7;
  position: relative;
  margin-top: 20px;
}
.configuration h2 {
  margin: 15px 0 5px;
  padding: 0;
  font-size: 13px;
  display: inline-block;
}
.input-userid {
  width: 95%;
  height: 25px;
  border: 2px solid #e6e6e7;
  font-family: inherit;
  border-radius: 2px;
  outline: none;
  padding: 2px 0 2px 10px;
  font-size: 12px;
}
.input-message {
  visibility: hidden;
  margin: 5px;
}
#button-save {
  margin: 5px 0 15px;
}
#button-reset {
  display: none;
  margin-bottom: 20px;
  background-color: #dd185e;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.telemark {
  margin-top: 10px;
  text-align: center;
}
#telemark-favicon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
#telemark-title {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
#telemark-url {
  width: 91%;
  height: 25px;
  border: 2px solid transparent;
  font-family: inherit;
  border-radius: 2px;
  outline: none;
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  background-color: #e6e6e7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#button-send {
  background-color: #32a6de;
}
#loading {
  display: none;
}
#check {
  display: none;
}
#paste {
  position: absolute;
  right: 10px;
  top: 45px;
  cursor: pointer;
}
#shortcuts {
  margin: -15px 0 20px 0;
}
#shortcuts p {
  font-size: 12px;
}
#shortcuts span {
  font-size: 11px;
  padding: 0 4px;
  background-color: #e6e6e7;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1117;
    color: #ffffff;
  }
  header {
    border-bottom: 1.5px solid #30363c;
  }
  #shortcuts span {
    background-color: #30363c;
  }
  #telemark-url {
    background-color: #30363c;
    color: #ffffff;
  }
  .input-userid {
    background-color: #0e1117;
    border: 2px solid #30363c;
    color: #ffffff;
  }
  .configuration {
    border-top: 1.5px solid #30363c;
  }
}
